<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/RRHH</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping class="celepsa.rrcc.eh.Criticidad"/>
    <mapping class="celepsa.rrcc.eh.Intercomentario"/>
    <mapping class="celepsa.rrcc.eh.Personadocumento"/>
    <mapping class="celepsa.rrcc.eh.Tmadjunto"/>
    <mapping class="celepsa.rrcc.eh.Tmclima"/>
    <mapping class="celepsa.rrcc.eh.Tmdfileconflictividad"/>
    <mapping class="celepsa.rrcc.eh.Tmdocumento"/>
    <mapping class="celepsa.rrcc.eh.Tmestado"/>
    <mapping class="celepsa.rrcc.eh.Tmevento"/>
    <mapping class="celepsa.rrcc.eh.Tmfileconflictividad"/>
    <mapping class="celepsa.rrcc.eh.Tminterpretacion"/>
    <mapping class="celepsa.rrcc.eh.Tmnivelinfluencia"/>
    <mapping class="celepsa.rrcc.eh.Tmnotificacion"/>
    <mapping class="celepsa.rrcc.eh.Tmproyecto"/>
    <mapping class="celepsa.rrcc.eh.Tmstakeagrupacion"/>
    <mapping class="celepsa.rrcc.eh.Tmstakepersona"/>
    <mapping class="celepsa.rrcc.eh.Tmtdocumentoidentidad"/>
    <mapping class="celepsa.rrcc.eh.Tmtipodocumento"/>
    <mapping class="celepsa.rrcc.eh.Tmusuario"/>
    <mapping class="celepsa.rrcc.eh.Tmzona"/>
  </session-factory>
</hibernate-configuration>
